<?xml version="1.0" encoding="utf-8"?>
<ccm>
  <exclude>
    <file>jquery-1.10.2.js</file>
    <file>jquery-2.1.4.js</file>
    <file>jquery-1.10.2.min.js</file>
    <file>jquery-1.10.2-vsdoc.js</file>
    <file>jquery-ui.js</file>
    <file>jquery-ui.min.js</file>
    <file>jquery.dataTables.min.js</file>
    <file>search.js</file>
    <folder>packages/jQuery.1.10.2/Content/Scripts</folder>
  </exclude>
  <analyze>
    <folder>.</folder>
  </analyze>
  <recursive>yes</recursive>
  <outputter>XML</outputter>
  <numMetrics>300</numMetrics>
  <fileExtensions>
  </fileExtensions>
</ccm>